<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-08-22T15:00:43Z</date>
	<key>WorkspacePath</key>
	<string>/Users/macbookpro/Desktop/未命名文件夹/Hackathon2/Hackathon2/Aura calling.xcodeproj</string>
</dict>
</plist>
